<!DOCTYPE html>
html(lang="en")
    head
        title Express Routing
        link(rel="stylesheet", href="/css/style.css")
    body
        nav
            ul
                li
                    a(href="/")home
                li
                    a(href="/services")services
                li
                    a(href="/contact")contact
        block content
               